################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab1Sol/FileContentIndex/48a841f8-0777-4ca3-b820-72aae1bfc47d.vsidx
